# Virtual environments
.venv/
.venv311/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Databases
data/*.db

# Environment files
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json

# local data
data/*.db